<%= render "shared/header" %>
  <div class="video-contents">
      <div class="video-left">
        <div class="video-left-titlefield">
        <h2 class="items-sell-title"># 投稿動画プレビュー</h2>
        </div>
        <div class="video-left-previewfield", id="preview-field"></div>
      </div>
      <div class="items-sell-main">
        <h2 class="items-sell-title"># 動画の情報を入力</h2>
        <%= form_with model: @video, url: video_path, method: :patch, local: true do |f| %>

        <%=render 'shared/error_messages', model: f.object %>

        <%# 投稿動画 %>
        <div class="img-upload">
          <div class="weight-bold-text">
            投稿動画
            <span class="indispensable">必須</span>
          </div>
          <div class="click-upload">
            <p>
              クリックしてファイルをアップロード
            </p>
            <%= f.file_field :movie, id:"video-image" %>
          </div>
        </div>
        <%# /投稿動画 %>
        <%# 動画名と動画説明 %>
        <div class="new-items">
          <div class="weight-bold-text">
            動画名
            <span class="indispensable">必須</span>
          </div>
          <%= f.text_area :name, class:"items-text", id:"item-name", placeholder:"動画名（必須 40文字まで)", maxlength:"40" %>
          <div class="items-explain">
            <div class="weight-bold-text">
              動画の説明
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_area :info, class:"items-text", id:"item-info", placeholder:"動画の説明（必須 1,000文字まで）" %>
          </div>
        </div>
        <%# /動画名と動画説明 %>

        <%# 動画のカテゴリ %>
        <div class="items-detail">
          <div class="form">
            <div class="weight-bold-text">
              動画カテゴリー
              <span class="indispensable">必須</span>
            </div>
            <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"select-box", id:"item-category"}) %>
          </div>
        </div>
        <%# /動画のカテゴリ %>

        <%# タグ追加 %>
        <div class="new-items">
          <div class="items-explain">
            <div class="weight-bold-text">
              タグ追加フォーム
              <span class="indispensable">必須</span>
            </div>
            <%= f.text_field :tag_list, value: @video.tag_list.join(','), class:"items-text", id:"item-info", placeholder:"タグ（必須,を追記して複数作成可能）" %>
          </div>
        </div>
        <%# /タグ追加 %>

        <%# 下部ボタン %>
        <div class="sell-btn-contents">
          <%= f.submit "編集する" ,class:"sell-btn" %>
          <%=link_to 'もどる', root_path, class:"back-btn" %>
        </div>
        <%# /下部ボタン %>
      </div>
      <% end %>
    </div>
  </div>
<%= render "shared/footer"%>
