<%= render "shared/header" %>

<%# 動画詳細 %>
            <div class='show-video-contents'>
                  <div class='video-img-content'>
                      <% if @video.movie.attached? %>
                        <%= video_tag rails_blob_path(@video.movie), size:"1000x550", autoplay: false, muted: false, controls: true, loop: true %></video>
                      <% end %>
                    <div class='video-info'>
                      <h2 class='video-name'> <%= @video.name %></h2>
                      <div class='favorite-info'>
                        <%= render partial: "favorites/favorite", locals:{video: @video} %>
                      </div>
                      <div class='video-name-date'>
                        <%= @video.user.nickname %>
                        (<%= @video.created_at %>)
                      </div>
                      <div class='video-category'>
                        <span>Category; <%= @video.category.name %></span>
                      </div>
                      <div class='video-goodjob-counts' >
                        <%= render partial: "goodjobs/goodjob", locals:{video: @video} %>
                      </div>
                      <div class='video-category'>
                        <span>Info; <%= @video.info %></span>
                      </div>
                    </div>
                  </div>
            </div>

<%# /動画詳細 %>

<%# ヘッダー操作ボタン %>
 <div class='nav'>
     <ul class='edit-btn'>
        <% if user_signed_in? && @video.user.id == current_user.id %>
          <li><%= link_to "動画編集", edit_video_path, method: :get, class: "purchase-btn-text"%> </li> 
          <li><%= link_to "動画削除", video_path, method: :delete, class: "purchase-btn-text"%> </li> 
          <% if @video.thumbnail.present? %>
            <li><%= link_to "サムネイル編集", edit_video_thumbnail_path(@video.id), class: "purchase-btn-text"%> </li> 
          <% else %>
            <li><%= link_to "サムネイル作成", new_video_thumbnail_path(@video.id), class: "purchase-btn-text"%> </li> 
          <% end %>
        <% end %>
    </ul>
  </div>
  <div class='nav'>
    <ul class='purchase-btn'>
        <% if user_signed_in? && current_user.id %>
          <li><%= link_to "動画投稿", new_video_path, method: :get , class: "purchase-btn-text"%> </li> 
          <li><%#= link_to "Pli作成", new_playlist_path, method: :delete , class: "purchase-btn-text"%> </li> 
          <li><%= link_to image_tag("search.png", class: "search-button", id:"search-btn"), videos_path, method: :get %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete , class: "purchase-btn-text"%> </li> 
          <li><%= link_to current_user.nickname, user_favorites_path(current_user.id), class: "purchase-nickname-text" %></li> 
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path,method: :get, class: "purchase-btn-text" %></li>
          <li><%= link_to '新規登録', new_user_registration_path,method: :get , class: "purchase-btn-text" %></li>
          <li><%= link_to image_tag("search.png", class: "search-button", id:"search-btn"), videos_path, method: :get %>
          </li> 
        <% end %>
    </ul>
  <div class='search-bar-contents'>
    <form class="search-form" action="#">
      <input class='input-box' placeholder='キーワードから探す'>
      <button class="search-button">
        <%= image_tag "search.png", class:"search-icon", id: "search-btn" %>
      </button>
    </form>
  </div>
  </div>
<%# /ヘッダー操作ボタン %>
<%= render "shared/footer" %>
